DATABASE_URL="mysql://tibia:tibia@localhost:3306/tibia"

PUBLIC_BASE_URL="http://localhost:5173"

PUBLIC_TITLE="Slender AAC"
PUBLIC_DISCORD_URL="https://discord.gg/"
PUBLIC_DOWNLOAD_URL="https://github.com/dudantas/tibia-client/releases"
PUBLIC_SUPPORT_EMAIL="hi@localhost"

PUBLIC_ENABLE_PRONOUNS=false

SERVER_ADDRESS="127.0.0.1"
SERVER_PORT=7172
SERVER_NAME="Slender"
SERVER_LOCATION="USA"
PVP_TYPE="no-pvp"

PUBLIC_STRIPE_KEY=pk_test_...
SECRET_STRIPE_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=
