DATABASE_URL="mysql://tibia:tibia@localhost:3306/tibia"

PUBLIC_TITLE="Slender AAC"
PUBLIC_DISCORD_URL="https://discord.gg/"
PUBLIC_DOWNLOAD_URL="https://github.com/dudantas/tibia-client/releases"

PUBLIC_ENABLE_PRONOUNS=false

SERVER_ADDRESS="127.0.0.1"
SERVER_PORT=7172
SERVER_NAME="Slender"
SERVER_LOCATION="USA"
PVP_TYPE="no-pvp"