{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSameLine": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"semi": true
}
